.menu-lateral {
        height: 100%; /* 100% Full-height */
        width: 310px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background: linear-gradient(to bottom,
                    rgba(27, 53, 99, 1) 0%,
                    rgba(0, 18, 45, 1)) 50%;

        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 64px;
        

    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box
    }

    .topo-menu-lateral{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 64px;
        font-size: 12px;
        padding: 20px;
        background-color: #45d16a;
        box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-lateral .bt-menu-lateral {
        
        position: relative;
        padding: 10px 15px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        display: block;
        margin: 30px 20px 1px 20px;
        border-radius: 2px;
        border-bottom: 1px solid #d1d1d1ff;
        background-color: transparent;

        overflow: hidden;
    }

    /* Gradiente como pseudo-elemento */
    .menu-lateral .bt-menu-lateral::before {
        content: "";
        position: absolute;
        inset: 0; /* ocupa toda a área do botão */
        background: linear-gradient(
            to right,
            rgba(255,255,255,0.25) 0%,
            rgba(255,255,255,0.15) 40%,
            rgba(255,255,255,0.05) 80%,
            rgba(255,255,255,0.0) 100%
        );
        opacity: 0; /* invisível inicialmente */
        transition: opacity 0.2s ease; /* animação rápida e discreta */
        z-index: -1; /* fica atrás do texto */
    }

    /* Hover ativa o fade */
    .menu-lateral .bt-menu-lateral:hover::before,
    .menu-lateral .bt-menu-lateral.active::before {
        opacity: 1;
    }

    .menu-lateral .bt-menu-lateral.active {
        background: linear-gradient(to right,
                            rgba(69, 209, 106, 0.9) 0%,
                            rgba(69, 209, 106, 0.001) 80%
                            );
        font-weight: bold;
    }
            
    .menu-lateral ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

    .menu-lateral p {
        padding-left: 20px;
        padding-top: 50px;
        font-size: 26px;
        font-weight: bold;
        color: white;
    }
    
    .submenu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
        padding-left: 20px;
    }

    .submenu li {
        margin: 10px 40px 0 35px;
        
    }

    .submenu li a{
        position: relative;
        display: block;
        font-size: 20px;
        color: white;
        text-decoration: none;
        border-radius: 2px;
        overflow: hidden;
        padding: 10px;
    }

    .submenu li a::before {
        content: "";
        position: absolute;
        inset: 0; /* ocupa toda a área do link */
        background: linear-gradient(
            to right,
            rgba(255,255,255,0.25) 0%,
            rgba(255,255,255,0.15) 40%,
            rgba(255,255,255,0.05) 80%,
            rgba(255,255,255,0.0) 100%
        );
        opacity: 0; /* invisível inicialmente */
        transition: opacity 0.2s ease; /* animação rápida e discreta */
        z-index: -1; /* fica atrás do texto */
    }

    /* Hover ativa o fade */
    .submenu li a:hover::before {
        opacity: 1;
    }

    .secao.ativa .submenu {
        max-height: 500px; /* altura suficiente para mostrar os itens */
    }

    .menu-seta {
        float: right;
        transition: transform 0.3s ease;
    }

    .icone-dashboard {
        float: right;
    }

    .secao.ativa .menu-seta {
        transform: rotate(180deg); /* gira para cima quando abre */
    }


    .container-principal {
        height: 866px;
        background-color: #f8f8f8ff;
        margin: 64px 15px 0 325px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.2)
    }

    .fa-angle-left{
        font-size: 30px;
        margin-top: 15px;
        padding: 8px 0px 8px 8px;
    }

    body {
        font-family: "Roboto", "Sans-Serif";
    }

    .cards-e-contas {
        display: flex;
        width: 100%;
    }

    .card-saldo{
        display: flex;  
        width: 100%;
        height: 80px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        background-color: white;
        padding: 0 25px 0px;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2)
        
    }

    .grid-cards {
        display: grid;
        grid-template-columns: auto auto;
        width: 60%;
        height: 360px;
        column-gap: 10px;
        row-gap: 10px;
        padding-top: 18px;

    }

    .card-receita,
    .card-despesa,
    .card-a-pagar,
    .card-a-receber,
    .card-pago,
    .card-recebido,
    .card-saldo-projetado,
    .card-balanco {
        display: flex;              /* coloca os filhos lado a lado */
        align-items: center; 
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        height: 75px;
        padding: 10px; 
        
    }

    .card-receita { border-left: 5px solid #428f04ff; }
    .card-despesa { border-left: 5px solid #ad0000ff; }
    .card-a-pagar { border-left: 5px solid #e1590bff;}
    .card-a-receber { border-left: 5px solid #0080ffff;}
    .card-pago { border-left: 5px solid #b2002fff;  }
    .card-recebido { border-left: 5px solid #5aad00ff; }
    .card-saldo-projetado { border-left: 5px solid #8a8a8aff; }
    .card-balanco { border-left: 5px solid #8a8a8aff; }

    .card-icone {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        font-weight: bold;
        font-size: 32px;
        display: flex;
        font-family: 'Impact', sans-serif;
        align-items: center;
        justify-content: center;
        margin: 10px 10px 10px 4px;
        flex-shrink: 0;
    }   

    .card-receita .card-icone { background-color: #45d16ac5;  color: #428f04ff; }
    .card-despesa .card-icone { background-color: #ff6161c5; color: #ad0000ff;}
    .card-a-pagar .card-icone { background-color: #ffcc6fc5; color: #e1590bff;}
    .card-a-receber .card-icone { background-color: #79edfcc5; color: #0080ffff;}
    .card-pago .card-icone { background-color: #fe729cc5; color: #b2002fff; }
    .card-recebido .card-icone { background-color: #d9fe89c5; color: #5aad00ff; }
    .card-saldo-projetado .card-icone { background-color: #d7d7d7c5; color: #8a8a8aff; font-size: 26px;}
    .card-balanco .card-icone { background-color: #d7d7d7c5; color: #8a8a8aff; font-size: 26px; }
    

    .minhas-contas{
        margin: 18px 10px 0 0;
        align-self: left;
        height: 340px;
        width: 40%;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
    
    .card-tipo {
        font-family: "Roboto", "Sans-serif";
        font-size: 18px;
        font-weight: 100;
        margin-top: 2px;

    }

    .card-valor {
        font-size: 22px;
        font-weight: 400;
    }
