.menu-bar {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #e7e7e7;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25)

}

.menu-bar li a {
    display: block;
    border-radius: 5px;
    color: #111111;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.menu-bar li a:hover {
    background-color: #45d16a;
    
}

.menu-bar .right {
    margin-left: auto;
    padding-right: 3px;
}

.login-container {
    display: flex;
    justify-content: flex-end;     /* alinha à direita */
    align-items: center;           /* alinha verticalmente */
    min-height: 89vh;             /* ocupa toda a altura da tela */ 
    padding-right: 70px;         /* espaçamento da borda direita */
    transform: scale(1.2);
    margin-right: 120px;
    box-sizing: border-box;
}

.login-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;   /* empilha os inputs */
    background-color: #f1f1f1;
    width: 350px;
    min-height: 260px;
    padding: 10px;
    padding-top: 35px;
    margin-right: 50px;    
    border-radius: 6px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}

.login-form button {
    margin-top: 12px;
    padding: 9px 20px;
    background-color: white;
    border: 1px solid #797979ff;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    width: 272px;
    cursor: pointer;
    margin-left: 40px;
    transition: all 0.3s ease-in-out;
}

.login-form button:hover{
    border: 1px solid #45d16a;  
    background-color: #45d16a;
    color: white;
}


input {
    width: 250px; 
    margin-left: 40px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #797979ff;
    border-radius: 4px;
}

input::placeholder {
    font-family: 'Roboto', 'Sans-Serif';
}

label {
    margin-left: 40px;
    font-size: 14px;
}

body {
    background-color: #bdc3c7;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}   

.cadastro-link {
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;    /* centraliza dentro do card */
    transition: 0.3s ease;
}

.cadastro-link a {
    font-size: 14px;
    color: #111;
    text-decoration-line: underline;
}

.cadastro-link a:hover {
    color: #45d16a;
}

.erro {
    font-size: 13px;
    padding-bottom: 10px;
    padding-left: 40px;
    color: red; 
}

.erro-senha {
    font-size: 13px;
    padding-left: 40px;
    color: red; 
}

.erro-campo{
    border: 1px solid red;
    background-color: #ffe6e6;
}