.menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 5;
    display: flex;
    align-items: center;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    
}


.menu-bar .nome-app {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #00539f;
    padding: 14px 20px;
    margin-right: 40px; 
}

.menu-bar li a {
    display: block;
    border-radius: 5px;
    color: #111111;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease-in-out
}

.menu-bar li a:hover {
    background-color: #45d16a;
    
}

.menu-bar .right {
    margin-left: auto;
    padding-right: 8px;
}

body {

    background-color: #bdc3c7;
    font-family: 'Roboto', sans-serif;
}   