.menu-lateral {
    height: 100%;
    width: 310px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1C1C2E; /* fundo lateral */
    overflow-x: hidden;
    padding-top: 64px;
    border-right: 4px solid #3A3A4F; /* borda lateral */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo-menu-lateral {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    z-index: 9999;
}

.logo-topo {
    width: 310px; /* mesma largura da barra lateral */
    background-color: #1E1E2F;
    color: #F5F5F5;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-right: 4px solid #3A3A4F;
    border-bottom: 4px solid #3A3A4F;
    font-size: 16px;
}

.info-topo {
    flex: 1; /* ocupa o restante da tela */
    background-color: #1E1E2F;
    color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: 4px solid #3A3A4F;
}

.menu-lateral ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-lateral p {
    margin-left: 37px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #F5F5F5; /* texto menu lateral */
}

.menu-lateral a {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #F5F5F5; /* texto menu lateral */
    margin: 15px 20px 1px 20px;
    border-radius: 12px;
    background-color: transparent;
    overflow: hidden;
    transition: 0.3s ease;
}

.icone-dashboard {
    margin-right: 8px;
    color: #F5F5F5;
}

.menu-lateral a::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #ffffff1c; /* hover translúcido */
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: -1;
}

.menu-lateral a:hover::before,
.menu-lateral a.active::before {
    opacity: 1;
}

.menu-lateral a.active {
    background: linear-gradient(90deg, #0052D4, #4364F7, #6FB1FC); /* gradiente ativo */
    color: #F5F5F5;
    font-weight: bold;
}

.container-principal {
    height: 866px;
    background-color: #F5F5F5; /* fundo claro */
    margin: 60px 15px 0 325px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.2);
}

body {
    font-family: "Roboto", "Sans-Serif";
    background-color: #F5F5F5;
    color: #2C2C2C;
}