.menu-lateral {
    height: 100%;
    width: 310px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1C1C2E; /* fundo lateral */
    overflow-x: hidden;
    padding-top: 64px;
    border-right: 4px solid #3A3A4F; /* borda lateral */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo-menu-lateral {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    z-index: 9999;
}

.logo-topo {
    width: 310px; /* mesma largura da barra lateral */
    background-color: #1E1E2F;
    color: #F5F5F5;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-right: 4px solid #3A3A4F;
    border-bottom: 4px solid #3A3A4F;
    font-size: 16px;
}

.info-topo {
    flex: 1; /* ocupa o restante da tela */
    background-color: #1E1E2F;
    color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: 4px solid #3A3A4F;
}