.header-transacoes {
    display: flex;
    width: 100%;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #F5F5F5;
    padding: 0 25px;
    color: #2C2C2C;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
    position: relative;
}

.texto-lista-vazia {
    align-self: center;
    margin-top: 340px;
    font-size: 21px;
    color: #2C2C2C;
}

.bt-add-transacao {
    position: absolute;
    font-size: 16px;
    background-color: #0052D4;
    color: #F5F5F5;
    border-radius: 50px;
    left: 355px;
    top: 20px;
    padding: 10px;
    width: 40px;
    border: none;
    transition: 0.3s ease;
}

.bt-add-transacao:hover {
    background-color: #4364F7;
    cursor: pointer;
}

.lista-transacoes {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 753px;
    border-radius: 4px;
    background-color: #F5F5F5;
    margin-top: 10px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

#modalCreateTransacao .modal-card {
    width: 800px;
}

#modalCreateTransacao .topo-card {
    position: relative;
    width: 105.2%;
}

.input-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 360px;
    column-gap: 10px;
    
}

.input-field {
    width: 100%;
}


